
@font-face {
    font-family: 'Inter';
    src: url(chrome-extension://nbdcekgpcnlpjjmfljgalbcidpjbamlh/fonts/Inter28pt-Regular.woff2) format('woff2'),
        url(chrome-extension://nbdcekgpcnlpjjmfljgalbcidpjbamlh/fonts/Inter28pt-Regular.woff) format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url(chrome-extension://nbdcekgpcnlpjjmfljgalbcidpjbamlh/fonts/Inter28pt-Medium.woff2) format('woff2'),
        url(chrome-extension://nbdcekgpcnlpjjmfljgalbcidpjbamlh/fonts/Inter28pt-Medium.woff) format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url(chrome-extension://nbdcekgpcnlpjjmfljgalbcidpjbamlh/fonts/Inter28pt-SemiBold.woff2) format('woff2'),
        url(chrome-extension://nbdcekgpcnlpjjmfljgalbcidpjbamlh/fonts/Inter28pt-SemiBold.woff) format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url(chrome-extension://nbdcekgpcnlpjjmfljgalbcidpjbamlh/fonts/Inter28pt-Bold.woff2) format('woff2'),
        url(chrome-extension://nbdcekgpcnlpjjmfljgalbcidpjbamlh/fonts/Inter28pt-Bold.woff) format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

:root {
    --palette-bg: #1d1e1e;
    --input-bg: #1d1e1e;
    --input-text: #fefefe;
    --input-mode-bg: #203232;
    --palette-item-title: #fefefe;
    --palette-item-desc: #cecece;
}

.cp-palette {
    position: fixed;
    top: 35%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--palette-bg);
    padding: 5px;
    color: white;
    z-index: 2147483647;
    inset: auto;
    width: 670px;
    display:flex;
    flex-direction: column;
    border-radius: 7px;
    opacity: 1;
}

.cp-hidden {
    display: none;
}

.cp-palette-input-container {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.cp-palette-input {
    font-family: 'Inter';
    font-size: medium;
    font-weight: 500;
    width: 100%;
    border: 0;
    padding: 10px;
    outline: none;
    background-color: var(--input-bg);
    border-radius: 7px;
    color: var(--input-text);
    opacity: 1;
}

.cp-palette-input-mode {
    font-family: 'Inter';
    font-size: smaller;
    max-height: fit-content;
    font-weight: 600;
    background-color: var(--input-mode-bg);
    padding: 5px 7px;
    border-radius: 7px;
    margin-left: 7px;
    /* margin-right: 12px; */
}

.cp-palette-items {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    max-height: 300px;
    overflow-y: scroll;
}

.cp-item {
    font-family: 'Inter';
    padding: 7px 15px;
    background-color: transparent;
    /* opacity: 1; */
    display: flex;
    align-items: center;
    gap: 10px;
}

.cp-item-content {
    min-width: 0;
    flex: 1;
}

.cp-item-title {
    color: var(--palette-item-title);
    font-size: medium;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.cp-item-desc {
    font-weight: 600;
    font-size: small;
    color: var(--palette-item-desc);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.cp-active {
    border-radius: 7px;
    background-color: #4F5151;
}

.cp-switch-to-tab {
    background-color: #eeeeee;
    color: #3c3e3e;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px 7px;
    border-radius: 7px;
    font-size: smaller;
    font-weight: 500;
}

.cp-item-favicon {
    width: 20px;
    margin-right: 5px;
    border-radius: 7px;
}
