.cp-palette {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #3c3e3e;
    padding: 5px;
    color: white;
    z-index: 6767;
    width: 670px;
    display:flex;
    flex-direction: column;
    border-radius: 7px;
    opacity: 1;
}

.cp-hidden {
    display: none;
}

.cp-palette-input {
    font-size: medium;
    border: 0;
    padding: 10px 15px;
    outline: none;
    background-color: #3c3e3e;
    border-radius: 7px;
    color: white;
    opacity: 1;
}

.cp-palette-suggestions {
    display: flex;
    flex-direction: column;
    background-color: transparent;
}

.cp-suggestion {
    padding: 5px 15px;
    color: white;
    background-color: transparent;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    opacity: 1;
    display: flex;
    align-items: center;
    gap: 10px;
}

.cp-suggestion-title {
    font-size: medium;
    font-weight: 500;
}

.cp-suggestion-url {
    font-size: small;
    color: #b0b0b0;
    width: 90%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.cp-suggestion:first-child {
    padding-top: 10px;
}

.cp-suggestion:last-child {
    padding-bottom: 10px;
}

.cp-active {
    border-radius: 7px;
    background-color: #4F5151;
}