@font-face {
    font-family: 'Inter';
    src: url(chrome-extension://nbdcekgpcnlpjjmfljgalbcidpjbamlh/fonts/Inter28pt-Regular.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url(chrome-extension://nbdcekgpcnlpjjmfljgalbcidpjbamlh/fonts/Inter28pt-Medium.woff2) format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url(chrome-extension://nbdcekgpcnlpjjmfljgalbcidpjbamlh/fonts/Inter28pt-SemiBold.woff2) format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url(chrome-extension://nbdcekgpcnlpjjmfljgalbcidpjbamlh/fonts/Inter28pt-Bold.woff2) format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 20px 30px;
    background-color: #232525;
    color: #eeeeee;
    max-width: 50%;
    font-family: 'Inter';
}

section {
    padding-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    margin-top: 10px;
    margin-bottom: 30px;
}

input {
    padding: 7px 10px;
    background-color: #3C3E3E;
    border: 0;
    outline: 0;
    color: #d4dada;
    font-weight: 500;
    font-size: medium;
    border-radius: 7px;
    transition: 100ms;
    margin-bottom: 20px;
}

label {
    margin-bottom: 7px;
    font-size: small;
    font-weight: 500;
}

.form-button {
    width: fit-content;
    background-color: #d4dada;
    outline: none;
    border: 0;
    border-radius: 7px;
    font-weight: 600;
    padding: 7px 10px;
    color: #3C3E3E;
    transition: 100ms;
}

.form-button:hover {
    cursor: pointer;
    background-color: #e2e9e9;
    padding: 10px 13px;
}

.form-button:focus {
    background-color: #e2e9e9;
    padding: 10px 13px;
}

input::placeholder {
    color: #b0b4b4;
}

input:hover {
    background-color: #353737;
}

input:focus {
    background-color: #4c4e4e;
    padding: 10px 13px;
}

h1, h2 {
    padding-bottom: 5px;
}

h1 {
    font-size: xx-large;
}

h2 {
    font-size: x-large;
}

p {
    font-size: medium;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.item {
    display: flex;
    align-items: center;
    background-color: #1a1c1c;
    max-width: 50%;
    padding: 13px 16px;
    border-radius: 7px;
    justify-content: space-between;
}

.item-content {
    display: flex;
    flex-direction: column;
    gap: 2px;
    max-width: 85%;
    transition: 100ms;
}

.item:hover .content {
    min-width: auto;
}

.item:hover .item-url {
    white-space: normal;
}

.item-name {
    font-size: medium;
    color: #eeeeee;
}

.item-url {
    font-size: small;
    font-weight: 600;
    color: #b0b4b4;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    /* width: 95%; */
}

.item-delete-btn {
    background-color: #353737;
    outline: none;
    border: 0;
    padding: 7px 10px;
    color: #b0b4b4;
    cursor: pointer;
    transition: 100ms;
    font-weight: 600;
    border-radius: 7px;
}

.item-delete-btn:hover {
    padding: 10px 13px;
    cursor: pointer;
}

select {
    padding: 10px 12px 10px 15px;
    width: 100%;
    border-radius: 7px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #404242;
    color: #d4dada;
    font-weight: 500;
    transition: 100ms;
    outline: 0;
    border: 2px solid #ffffff00;
    transition: 100ms;
    font-size: medium;

    background-image: url("arrow.svg");
    background-repeat: no-repeat;
    background-position: right 10px center;
}

select:active {
    border: 2px solid #4c4e4e;
}

#search-engine-container {
    margin-top: 7px;
    border-radius: 7px;
    width: 50%;
    background-color: #353737;
}

#search-engine-info {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#search-engine-url {
    font-weight: 600;
    font-size: small;
    color: #b0b4b4;
}

#search-engine-delete-btn {
    background-color: #232525;
    outline: none;
    border: 0;
    padding: 7px 10px;
    color: #b0b4b4;
    cursor: pointer;
    transition: 100ms;
    font-weight: 600;
    border-radius: 7px;
}

#search-engine-delete-btn:hover {
    padding: 10px 13px;
    cursor: pointer;
}
